In [2]:
import json
import pandas as pd

In [3]:
path = r"data.json"

In [4]:
f = open(path)

In [5]:
records = [json.loads(line) for line in f.readlines()]

In [6]:
df = pd.DataFrame(records)

In [7]:
df

,house_id,xiaoqu,district,total_price,unit_price,house_type,floor,area,house_struct,in_area,...,list_time,trade_type,last_tradetime,house_use,house_time,owner,mortage,property,villa_type,overall_floor
0,103105744820,银河海景御花园,银河海景御花园,35.0,3805.0,2室2厅1厨1卫,中楼层 (共6层),92.00,平层,暂无数据,...,2019-08-17,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
1,103106496511,海韵阳光花园,海韵阳光花园,32.0,4267.0,2室2厅1厨1卫,中楼层 (共7层),75.00,平层,暂无数据,...,2019-10-12,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,7.0
2,103107473149,盛世滩家园,盛世滩家园,23.5,4520.0,1室1厅1厨1卫,中楼层 (共6层),52.00,平层,暂无数据,...,2019-12-27,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
3,103107225150,假日海景海之韵花苑,假日海景海之韵花苑,31.5,3993.0,2室1厅1厨1卫,中楼层 (共7层),78.90,平层,暂无数据,...,2019-12-06,商品房,暂无数据,普通住宅,暂无数据,共有,无抵押,未上传房本照片,暂无数据,7.0
4,103106828677,蓝湖景苑,蓝湖景苑,31.5,3842.0,2室2厅1厨1卫,中楼层 (共5层),82.00,平层,暂无数据,...,2019-11-05,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13112,103107401504,望海风情海岸,望海风情海岸,43.0,6016.0,2室1厅1厨1卫,高楼层 (共6层),71.48,平层,暂无数据,...,2019-12-21,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
13113,103107401079,海韵·蔚蓝水岸,海韵·蔚蓝水岸,42.0,3207.0,4室2厅2厨2卫,高楼层 (共6层),131.00,平层,暂无数据,...,2019-12-21,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
13114,103107184706,弘盛现代城,弘盛现代城,32.0,6145.0,2室0厅1厨1卫,低楼层 (共3层),52.08,平层,暂无数据,...,2019-12-03,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,3.0
13115,103107160845,銀海綠洲,銀海綠洲,51.0,3772.0,3室2厅1厨2卫,低楼层 (共6层),135.23,平层,暂无数据,...,2019-12-01,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
13116,103104845665,金猴南海名居,金猴南海名居,88.0,8800.0,2室2厅1厨1卫,高楼层 (共16层),100.00,平层,暂无数据,...,2019-05-27,商品房,暂无数据,普通住宅,暂无数据,共有,无抵押,未上传房本照片,暂无数据,16.0

In [8]:
df.describe()

        total_price    unit_price          area  overall_floor
count  13117.000000  13117.000000  13117.000000   13117.000000
mean      90.429260   8881.985820     96.174769      10.301136
std       82.212936   4461.653639     40.785116       7.147439
min        8.800000   1415.000000     15.390000       0.000000
25%       40.000000   4954.000000     73.000000       6.000000
50%       73.800000   8948.000000     88.000000       7.000000
75%      115.000000  11575.000000    111.000000      11.000000
max     1900.000000  56339.000000   1045.890000      38.000000

In [9]:
df[df.duplicated()]

Empty DataFrame
Columns: [house_id, xiaoqu, district, total_price, unit_price, house_type, floor, area, house_struct, in_area, building_type, direction, building_structure, fixture, elevator_ratio, elevator_exist, yearlimit, list_time, trade_type, last_tradetime, house_use, house_time, owner, mortage, property, villa_type, overall_floor]
Index: []

[0 rows x 27 columns]

In [10]:
df.apply(lambda col:sum(col.isnull())/col.size)

house_id              0.000000
xiaoqu                0.000000
district              0.000000
total_price           0.000000
unit_price            0.000000
house_type            0.000000
floor                 0.000000
area                  0.000000
house_struct          0.000000
in_area               0.000000
building_type         0.006709
direction             0.000000
building_structure    0.006709
fixture               0.000000
elevator_ratio        0.000000
elevator_exist        0.000000
yearlimit             0.000000
list_time             0.000000
trade_type            0.000000
last_tradetime        0.000000
house_use             0.000000
house_time            0.000000
owner                 0.000000
mortage               0.000000
property              0.000000
villa_type            0.000000
overall_floor         0.000000
dtype: float64

In [11]:
df['building_type'].isnull().value_counts()

False    13029
True        88
Name: building_type, dtype: int64

In [12]:
df['building_type']=df['building_type'].fillna('999')

In [13]:
delete_list=df[(df.building_type.isnull())].index.tolist()

In [14]:
delete_list

[]

In [15]:
df=df.drop(delete_list)

In [16]:
df.apply(lambda col:sum(col.isnull())/col.size)

house_id              0.000000
xiaoqu                0.000000
district              0.000000
total_price           0.000000
unit_price            0.000000
house_type            0.000000
floor                 0.000000
area                  0.000000
house_struct          0.000000
in_area               0.000000
building_type         0.000000
direction             0.000000
building_structure    0.006709
fixture               0.000000
elevator_ratio        0.000000
elevator_exist        0.000000
yearlimit             0.000000
list_time             0.000000
trade_type            0.000000
last_tradetime        0.000000
house_use             0.000000
house_time            0.000000
owner                 0.000000
mortage               0.000000
property              0.000000
villa_type            0.000000
overall_floor         0.000000
dtype: float64

In [17]:
df

,house_id,xiaoqu,district,total_price,unit_price,house_type,floor,area,house_struct,in_area,...,list_time,trade_type,last_tradetime,house_use,house_time,owner,mortage,property,villa_type,overall_floor
0,103105744820,银河海景御花园,银河海景御花园,35.0,3805.0,2室2厅1厨1卫,中楼层 (共6层),92.00,平层,暂无数据,...,2019-08-17,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
1,103106496511,海韵阳光花园,海韵阳光花园,32.0,4267.0,2室2厅1厨1卫,中楼层 (共7层),75.00,平层,暂无数据,...,2019-10-12,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,7.0
2,103107473149,盛世滩家园,盛世滩家园,23.5,4520.0,1室1厅1厨1卫,中楼层 (共6层),52.00,平层,暂无数据,...,2019-12-27,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
3,103107225150,假日海景海之韵花苑,假日海景海之韵花苑,31.5,3993.0,2室1厅1厨1卫,中楼层 (共7层),78.90,平层,暂无数据,...,2019-12-06,商品房,暂无数据,普通住宅,暂无数据,共有,无抵押,未上传房本照片,暂无数据,7.0
4,103106828677,蓝湖景苑,蓝湖景苑,31.5,3842.0,2室2厅1厨1卫,中楼层 (共5层),82.00,平层,暂无数据,...,2019-11-05,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13112,103107401504,望海风情海岸,望海风情海岸,43.0,6016.0,2室1厅1厨1卫,高楼层 (共6层),71.48,平层,暂无数据,...,2019-12-21,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
13113,103107401079,海韵·蔚蓝水岸,海韵·蔚蓝水岸,42.0,3207.0,4室2厅2厨2卫,高楼层 (共6层),131.00,平层,暂无数据,...,2019-12-21,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
13114,103107184706,弘盛现代城,弘盛现代城,32.0,6145.0,2室0厅1厨1卫,低楼层 (共3层),52.08,平层,暂无数据,...,2019-12-03,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,3.0
13115,103107160845,銀海綠洲,銀海綠洲,51.0,3772.0,3室2厅1厨2卫,低楼层 (共6层),135.23,平层,暂无数据,...,2019-12-01,商品房,暂无数据,普通住宅,暂无数据,非共有,无抵押,未上传房本照片,暂无数据,6.0
13116,103104845665,金猴南海名居,金猴南海名居,88.0,8800.0,2室2厅1厨1卫,高楼层 (共16层),100.00,平层,暂无数据,...,2019-05-27,商品房,暂无数据,普通住宅,暂无数据,共有,无抵押,未上传房本照片,暂无数据,16.0

In [18]:
import numpy as np

In [19]:
def cap(x,quantile=[0.01,0.99]):
    head,tail=x.quantile(quantile).values.tolist()
    return head,tail

In [20]:
head,tail=cap(df['unit_price'])

In [21]:
l=df[df['unit_price']<head].index.tolist()

In [22]:
l+=df[df['unit_price']>tail].index.tolist()

In [23]:
l

[7,
 36,
 46,
 47,
 54,
 350,
 361,
 376,
 384,
 389,
 408,
 429,
 462,
 542,
 543,
 546,
 553,
 579,
 590,
 620,
 665,
 682,
 685,
 686,
 704,
 733,
 741,
 776,
 781,
 802,
 855,
 892,
 948,
 1070,
 1094,
 1103,
 1131,
 1148,
 1176,
 1247,
 1288,
 1301,
 1311,
 1330,
 1335,
 1339,
 1340,
 1364,
 1486,
 1508,
 1511,
 1543,
 1573,
 1600,
 1629,
 1657,
 1666,
 1783,
 1788,
 1915,
 1918,
 1919,
 1939,
 1940,
 1960,
 1978,
 2006,
 2037,
 2074,
 2077,
 2093,
 2098,
 2111,
 2180,
 2181,
 2237,
 2265,
 2272,
 2304,
 2331,
 2340,
 2355,
 2406,
 2461,
 2462,
 2478,
 2483,
 2498,
 2532,
 2541,
 2543,
 2547,
 2548,
 2598,
 2621,
 2647,
 2677,
 2744,
 2761,
 2766,
 2780,
 2783,
 2803,
 2828,
 2860,
 2890,
 2912,
 2934,
 9187,
 9188,
 9344,
 9386,
 9530,
 9644,
 9710,
 9779,
 9832,
 9875,
 9939,
 10219,
 10312,
 10374,
 10442,
 10456,
 10483,
 10506,
 10516,
 10553,
 10574,
 12104,
 12693,
 13105,
 113,
 116,
 127,
 155,
 2980,
 3066,
 3126,
 3127,
 3131,
 3184,
 3382,
 3429,
 3515,
 3634,
 3647,
 3764,
 3831,
 4189,
 4197,
 4208,
 4258,
 4268,
 4355,
 4411,
 4433,
 4479,
 4542,
 4581,
 4673,
 4713,
 4748,
 4753,
 4973,
 5272,
 5281,
 5343,
 5426,
 5482,
 5522,
 5663,
 5711,
 5764,
 5829,
 5934,
 5988,
 5993,
 6012,
 6138,
 6265,
 6285,
 6369,
 6371,
 6388,
 6502,
 6514,
 6516,
 6536,
 6703,
 6755,
 6763,
 6780,
 6786,
 6800,
 6825,
 6828,
 6880,
 6985,
 7041,
 7053,
 7082,
 7161,
 7163,
 7296,
 7311,
 7355,
 7484,
 7489,
 7510,
 7521,
 7522,
 7523,
 7541,
 7542,
 7545,
 7548,
 7570,
 7587,
 7625,
 7638,
 7653,
 7786,
 7925,
 7934,
 8127,
 8201,
 8211,
 8263,
 8265,
 8278,
 8304,
 8348,
 8349,
 8372,
 8448,
 8545,
 8568,
 8694,
 8730,
 8735,
 8741,
 8752,
 8756,
 8765,
 8768,
 8817,
 8857,
 8860,
 8898,
 8914,
 8958,
 10861,
 10866,
 11264,
 11300,
 11465,
 11473,
 11649,
 11923,
 11952,
 11980,
 12012,
 12102]

In [24]:
df=df.drop(l)

In [25]:
df['unit_price'].max()

20980.0

In [26]:
df.describe()

        total_price    unit_price          area  overall_floor
count  12853.000000  12853.000000  12853.000000   12853.000000
mean      86.932063   8776.477320     95.266854      10.300708
std       63.801096   4050.661885     38.563177       7.113289
min        8.800000   2417.000000     25.000000       0.000000
25%       41.000000   5000.000000     73.000000       6.000000
50%       73.800000   8948.000000     88.000000       7.000000
75%      113.000000  11513.000000    110.000000      11.000000
max     1150.000000  20980.000000   1045.890000      38.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12853 entries, 0 to 13116
Data columns (total 27 columns):
house_id              12853 non-null object
xiaoqu                12853 non-null object
district              12853 non-null object
total_price           12853 non-null float64
unit_price            12853 non-null float64
house_type            12853 non-null object
floor                 12853 non-null object
area                  12853 non-null float64
house_struct          12853 non-null object
in_area               12853 non-null object
building_type         12853 non-null object
direction             12853 non-null object
building_structure    12791 non-null object
fixture               12853 non-null object
elevator_ratio        12853 non-null object
elevator_exist        12853 non-null object
yearlimit             12853 non-null object
list_time             12853 non-null object
trade_type            12853 non-null object
last_tradetime        12853 non-null object
house_use             12853 non-null object
house_time            12853 non-null object
owner                 12853 non-null object
mortage               12853 non-null object
property              12853 non-null object
villa_type            12853 non-null object
overall_floor         12853 non-null float64
dtypes: float64(4), object(23)
memory usage: 2.7+ MB

In [28]:
columns = df.iloc[0].keys()

In [29]:
columns

Index(['house_id', 'xiaoqu', 'district', 'total_price', 'unit_price',
       'house_type', 'floor', 'area', 'house_struct', 'in_area',
       'building_type', 'direction', 'building_structure', 'fixture',
       'elevator_ratio', 'elevator_exist', 'yearlimit', 'list_time',
       'trade_type', 'last_tradetime', 'house_use', 'house_time', 'owner',
       'mortage', 'property', 'villa_type', 'overall_floor'],
      dtype='object')

In [30]:
df['district'].value_counts()

华润威海湾九里    140
蓝星万象城      137
凤凰小区D2区    122
温泉明珠       114
海韵·蔚蓝水岸    109
          ...
戚家夼          1
皇冠大厦         1
三里河生活小区      1
广安苑小区        1
宫松岭路7号       1
Name: district, Length: 1219, dtype: int64

In [31]:
df['house_use'].value_counts()

普通住宅    12647
商住两用      144
别墅         62
Name: house_use, dtype: int64

In [32]:
df['mortage'].value_counts()

无抵押                10736
暂无数据                 895
有抵押                  682
有抵押业主自还               63
有抵押20万元               21
                   ...
有抵押14万元中国银行业主自还        1
有抵押75万元                1
有抵押农村信用社               1
有抵押银行业主自还              1
有抵押60万元客户偿还            1
Name: mortage, Length: 284, dtype: int64

In [33]:
df['house_struct'].value_counts()

平层    12832
错层       15
复式        6
Name: house_struct, dtype: int64

In [34]:
df['house_type'].value_counts()

2室2厅1厨1卫     2776
2室1厅1厨1卫     2662
3室2厅1厨1卫     2095
1室1厅1厨1卫     1336
3室1厅1厨1卫     1274
             ...
9室3厅2厨4卫        1
6室2厅1厨4卫        1
5室4厅1厨4卫        1
23室2厅1厨2卫       1
8室3厅1厨3卫        1
Name: house_type, Length: 120, dtype: int64

In [35]:
df['direction'].value_counts()

南北      11833
北         253
北南        207
西北        128
东          88
东南         77
西          61
西南         49
东北         40
东西         30
北西         19
北东         18
南西         15
南东          7
西北北         5
南南北         5
北北          3
南南          3
西南北         3
南西北         2
北东南         1
西北西         1
南西南         1
南东北         1
南东南         1
东南北         1
东南南北        1
Name: direction, dtype: int64

In [36]:
df.describe()

        total_price    unit_price          area  overall_floor
count  12853.000000  12853.000000  12853.000000   12853.000000
mean      86.932063   8776.477320     95.266854      10.300708
std       63.801096   4050.661885     38.563177       7.113289
min        8.800000   2417.000000     25.000000       0.000000
25%       41.000000   5000.000000     73.000000       6.000000
50%       73.800000   8948.000000     88.000000       7.000000
75%      113.000000  11513.000000    110.000000      11.000000
max     1150.000000  20980.000000   1045.890000      38.000000